<div class="row">
    <div class="medium-4 medium-offset-4 columns text-center">
        <br>
        <b>Welcome to Sunfish</b>
    </div>
</div>
<div class="row">
    <div class="medium-8 medium-offset-2 text-center columns">
        <p>
            Sunfish is a portal for linking to files share with Sia, a decentralized storage service. 
        </p>
        <p>
            Interested in learning more about Sia? Check out <a href="http://siacoin.com/">http://siacoin.com/</a>.
        </p>
    </div>
</div>
