<div class="row">
    <div class="small-12 text-center">
        <br>
        <b>Browse For Siafiles.</b>
    </div>
</div>
<div class="row">
    <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1">
    <table>
        <thead>
            <td width="150">Name</td>
            <td width="300">Description</td>
            <td width="200">Tags</td>
            <td width="200">Upload Date</td>
        </thead>
        <tbody>
            <tr data-siafile-row ng-repeat="sf in siafiles" >
            </tr>
        </tbody>
    </table>
    </div>
</div>
