<div class="row">
    <div class="small-12">
        Browsing. Wohoo!
    </div>
</div>
<div class="row">
    <div class="small-12">
    <table>
        <thead>
            <td width="150">Name</td>
            <td width="300">Description</td>
            <td width="100">Tags</td>
            <td width="175">Upload Date</td>
            <td width="75">File</td>
        </thead>
        <tbody>
            <tr data-siafile-row ng-repeat="sf in siafiles" >
            </tr>
        </tbody>
    </table>
    </div>
</div>
