<div class="row">
    <div class="small-12 large-4 large-offset-4 text-center">
        <br>
        <b>Upload a Siafile</b>
    </div>
</div>
<div class="row">
    <div class="small-10 small-offset-1 medium-10 medium-offset-1 large-8 large-offset-2">
        <form>
            <div class="row">
                <div class="small-12 columns">
                    <label for='title'>Title</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="text" id="title" name="title" class="u-full-width" ng-model="siafile.title">
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <label for="description">Description</label>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <textarea class="u-full-width" placeholder="" name="description" id="description" ng-model="siafile.description"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="small-8 columns">
                    <label for='tags'>Tags <span class="label-tip">(Comma Separated)</span></label> 
                    <tags-input id='tags' replace-spaces-with-dashes="false" ng-model="tags"></tags-input>
                </div>
                <div class="small-2 columns">
                    <label ng-if="siafile.listed">Public</label>
                    <label ng-if="!siafile.listed">Unlisted</label>
                    <div class="switch small">
                        <input id="unlisted" type="checkbox" ng-model="siafile.listed">
                        <label for="unlisted"></label>
                    </div> 
                </div>
                <div class="small-2 columns">
                    <label ng-if="siafile.safe" for='tags'>Safe</label>
                    <label ng-if="!siafile.safe" for='tags'>NSFW</label>
                    <div class="switch small">
                        <input id="nsfw" type="checkbox" ng-model="siafile.safe" ng-change="safeClicked = true">
                        <label for="nsfw"></label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <ul class="button-group">
                        <li><a href="" class="small button" ng-click="setUploadType(true)" ng-class="{ secondary: !asciiUpload}">ASCII Upload</a></li>
                        <li><a href="" class="small button" ng-click="setUploadType(false)" ng-class="{ secondary: asciiUpload}">Siafile Upload</a></li>
                    </ul>
                </div>
            </div>
            <div class="row" ng-show='asciiUpload'>
                <div class="small-6 columns">
                    <label for="siafileName">Filename</label>
                </div>
                <div class="small-6 columns">
                    <label for="siafileAscii">ASCII Text</label>
                </div>
            </div>
            <div class="row" ng-hide='asciiUpload'>
                <div class="small-4 columns">
                    <label for="siafileAscii">Siafile Upload</label>
                </div>
            </div>
            <div class="row" ng-show='asciiUpload'>
                <div class="small-6 columns">
                    <input type="text" id='siafileName' name="siafileName" ng-model="siafileName" ng-disabled="">
                </div>
                <div class="small-6 columns">
                    <input type="text" id='siafileAscii' name="siafileAscii" ng-model="siafileAscii" ng-disabled="">
                </div>
            </div>
            <div class="row" ng-hide='asciiUpload'>
                <div class="small-12 columns">
                    <input type="file" id='siafile' name="siafile" ng-disabled="siafileAscii.length > 0">
                </div>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <input type="button" class="button" value="Submit" ng-click="uploadSiafile()">
                </div>
            </div>
        </form>
    </div>
</div>
