.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.unstyled {
    list-style: none;
}

a:link{
    text-decoration: none;
}

.label-tip {
    font-weight: normal;
    font-size: 80%;
}

.label-tip {
    font-weight: normal;
    font-size: 80%;
}
