<div class="row">
    <div class="small-12 large-4 large-offset-4 text-center">
        <br>
        <b>Upload a Siafile</b>
    </div>
</div>
<div class="row">
    <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2">
        <form>
            <label for='title'>Title</label>
            <input type="text" id="title" name="title" class="u-full-width" ng-model="siafile.title">
            <label for="description">Description</label>
            <textarea class="u-full-width" placeholder="" name="description" id="description" ng-model="siafile.description"></textarea>
            <label for='tags'>Tags <span class="label-tip">(Comma Separated)</span></label> 
            <input type="text" id='tags' name="tags" class="u-full-width" ng-model="tags">
            <input type="file" id='siafile' name="siafile">
            <input type="button" class="button" value="Submit" ng-click="uploadSiafile()">
        </form>
    </div>
</div>
