<div class="row">
    <div class="small-12 text-center">
        <br>
        <b>Search For Siafiles.</b>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns medium-offset-3">
        <form ng-submit="search()">
        <div class="row collapse">
            <div class="medium-9 columns">
                <input type="text" placeholder="Search for tags" ng-model="query"/>
            </div>
            <div class="small-3 columns">
                <button type="submit" class="button postfix" ng-click="search()">Go</a>
            </div>
        </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="large-8 medium-10 small-12 large-offset-2 medium-offset-1">
    <table data-siafile-table>
    </table>
    </div>
</div>
